ObserverClient/Service References/ObserverReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordMeasurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RTUName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordMeasurementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMeasurementsInTimeRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RTUName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMeasurementsInTimeRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetAllMeasurementsInTimeRangeResult" type="q1:SendingReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMeasurementsByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RTUName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMeasurementsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="GetAllMeasurementsByTypeResult" type="q2:SendingReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeAlltMomentsRTU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RTUName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minmax" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeAlltMomentsRTUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GeAlltMomentsRTUResult" nillable="true" type="q3:TupleOfArrayOfdateTimeArrayOfdateTime0dMmj3_Sh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvgValuesLoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvgValuesLocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAvgValuesLocResult" nillable="true" type="q4:TupleOfdoubledouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMomentsLoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minmax" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMomentsLocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAllMomentsLocResult" nillable="true" type="q5:TupleOfArrayOfdateTimeArrayOfdateTime0dMmj3_Sh" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMeasurementRecorded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Server" minOccurs="0" name="m" type="q6:SendingMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMeasurementRecordedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>